<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>
  <log4net>
    <appender name="FileLogger" type="log4net.Appender.RollingFileAppender">
      <param name="File" value=".\log\webapi.log" />
      <param name="AppendToFile" value="true" />
      <rollingStyle value="Composite"/>
      <datePattern value="yyyyMMdd"/>
      <maxSizeRollBackups value="10"/>
      <maximumFileSize value="10MB"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date %level %logger - %message%newline"/>
      </layout>
    </appender>

    <root>
      <appender-ref ref="FileLogger"/>
    </root>
  </log4net>
</configuration>